* {
    margin: 0px;
    padding: 0px;

}

/* CSS Variables */
:root {
    --navbar-height: 50px;
}
html{
    scroll-behavior: smooth;
}



/* navbar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

#navbar::before {
    content: '';
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

/* navbar: logo and images */
#logos {

    width: 59px;
    margin: 3px 7px;
}

#logo {
    width: 90px;
    margin: 11px 23px;
}

/* navbar liststyle */


#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    padding: 3px 22px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

#navbar ul li a:hover {
    background-color: white;
    color: black;

}

/* home section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    align-items: center;
    justify-content: center;
    height: 450px;
}

#home::before {
    content: '';
    background: url('../bg1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 545px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}



/* services section */
#services {

    margin: 30px 20px;
    display: flex;

}

#services .box {
    border: 2px solid black;
    padding: 20px 33px;
    margin: 5px 22px;
    border-radius: 40px;
    background-color: #fff4f4;
    margin-bottom: 30px;
    transition: all ease 0.9s;



}
#services .box:hover{
    scale: 0.9;
}

#services .box img {
    height: 140px;
    display: block;
    margin: auto;

}

#services .box p {
    text-align: center;
    font-family: 'Bree Serif', serif;
}

/* Client Section */
#client-section {
    height: 344px;


}

#client-section::before {
    content: '';
    position: absolute;
    background: url('../bg.jpg');
    width: 100%;
    height: 46.6%;
    z-index: -1;
    opacity: 0.4;

}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 34px;
}

#clients img {
    height: 140px;
}

/* contact section */
#contact {
    position: relative;

}

#contact::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;

}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form {
    width: 35%;

}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;

}

#contact-box button {
    width: 28%;
    padding: 10px;
    display: block;
    margin: auto;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 30px;
    font-size: 1rem;
    font-family: 'Bree Serif', serif;
    cursor: pointer;
}
#contact-box #btn{
    margin-top:18px ;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    padding: 10px;
    font-size: 1.1rem;
}

/* footer */

footer {
    background-color: black;
    color: white;
    padding: 9px 23px;
}




/* utility class */
.h-primary {
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.h-secoundary {
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    margin: 20px;
    font-size: 1.3rem;
    border-radius: 20px;
    cursor: pointer;
}

.center {
    text-align: center;
}